// Specific CSS for your home-page
.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('meeting.png');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}
